body {
  background: #303030;
}

.App {
  font-family: 'Andale Mono', monospace;
  display: flex;
  flex-direction: column;
}

section {
  padding: 0;
  margin: 0;
}

.App table {
  width: 100%;
}

.theme-dark {
  color: #fff;
}

.page-head {
  padding-top: 200px;
  padding-bottom: 80px;

  background: #131313;
}

.page-data {
  padding-top: 80px;
  padding-bottom: 100px;

  background-color: #303030;
}

table.table-dark {
  text-align: center;
  background-color: transparent;
}
table th:nth-child(4), table th:nth-child(5) {
  text-align: right;
}
table td:nth-child(4), table td:nth-child(5) {
  text-align: right;
}
table thead.higher th {
  padding: 20px 0;
  background-color: transparent;
}
table thead th:nth-child(1) {
  padding-left: 20px;
}
table thead th:nth-last-child(1) {
  padding-right: 20px;
}
table tbody tr td {
  padding: 5px 0;
}
table tbody tr td:nth-child(1) {
  padding-left: 20px;
}
table tbody tr td:nth-child(2) {
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
table tbody tr td:nth-last-child(1) {
  padding-right: 20px;
}
table tbody tr:nth-child(even) {
  background-color: #282828;
}
table tbody tr:nth-child(odd) {
  background-color: #000;
}
table.table-dark.table-hover tbody tr:hover {
  background-color: #D1FF52;
  color: #000;
}

.progress-bar {
  background-color: #232323;
  width: 100%;
  height: 33px;
  margin: 30px 0 50px 0;
  position: relative;
  overflow: visible;
}
.progress-bar .indicator {
  background-color: #D1FF52;
  height: 100%;
}
.progress-bar .marker {
  width: 3px;
  top: -10px;
  height: 49px;
  background-color: #D1FF52;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.progress-bar .base-label {
  position: absolute;
  top: 150%;
}
.progress-bar .marker .label {
  position: relative;
  top: 120%;
}

.color-primary {
  color: #D1FF52;
}

.color-white {
  color: #fff;
}